
  .main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 50px auto;
    align-content: baseline;
  }
  .main .span {
    width: 234rpx;
    height: 200rpx;
    display: inline-block;
    box-sizing: border-box;
    background-color: #666;
    margin-bottom: 10rpx;
    padding: 4px;
    text-align: center;
  }
  .width{
    width:32%;
  }
  .width{
    width:48%;
  }
  .main .emp {
    height: 0;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    visibility: hidden;
  }
